body {
  background-image: linear-gradient(115deg, #f40076, #590fb7);
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(115deg, #590fb7, #000066);
  border-radius: 24px;
  min-width: 600px;
}
.header {
  font-family: 'Mr De Haviland', cursive;
  font-size: 88px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-bottom: 36px;
  font-family: 'Faustina', serif;
}

.card a {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card a svg {
  margin-right: 18px;
}

.read-the-docs {
  color: #888;
}
